virtualSTWeb/web/WEB-INF/wsdl/localhost_8080/stService/stService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="stService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/stService/stService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/stService/stService?xsd=2"/>
</xsd:schema>
</types>
<message name="getState">
<part name="parameters" element="tns:getState"/>
</message>
<message name="getStateResponse">
<part name="parameters" element="tns:getStateResponse"/>
</message>
<message name="addTransaction">
<part name="parameters" element="tns:addTransaction"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="addStock">
<part name="parameters" element="tns:addStock"/>
</message>
<message name="updateStock">
<part name="parameters" element="tns:updateStock"/>
</message>
<message name="deleteStock">
<part name="parameters" element="tns:deleteStock"/>
</message>
<message name="getStockDetails_1">
<part name="parameters" element="tns:getStockDetails_1"/>
</message>
<message name="getStockDetails_1Response">
<part name="parameters" element="tns:getStockDetails_1Response"/>
</message>
<message name="getStockDetails">
<part name="parameters" element="tns:getStockDetails"/>
</message>
<message name="getStockDetailsResponse">
<part name="parameters" element="tns:getStockDetailsResponse"/>
</message>
<message name="addBroker">
<part name="parameters" element="tns:addBroker"/>
</message>
<message name="updateBroker">
<part name="parameters" element="tns:updateBroker"/>
</message>
<message name="deleteBroker">
<part name="parameters" element="tns:deleteBroker"/>
</message>
<message name="addBrokerFund">
<part name="parameters" element="tns:addBrokerFund"/>
</message>
<message name="getBrokerDetails">
<part name="parameters" element="tns:getBrokerDetails"/>
</message>
<message name="getBrokerDetailsResponse">
<part name="parameters" element="tns:getBrokerDetailsResponse"/>
</message>
<message name="getBrokerDetails_1">
<part name="parameters" element="tns:getBrokerDetails_1"/>
</message>
<message name="getBrokerDetails_1Response">
<part name="parameters" element="tns:getBrokerDetails_1Response"/>
</message>
<message name="getObjBroker">
<part name="parameters" element="tns:getObjBroker"/>
</message>
<message name="getObjBrokerResponse">
<part name="parameters" element="tns:getObjBrokerResponse"/>
</message>
<message name="getBrokerByUserId">
<part name="parameters" element="tns:getBrokerByUserId"/>
</message>
<message name="getBrokerByUserIdResponse">
<part name="parameters" element="tns:getBrokerByUserIdResponse"/>
</message>
<message name="addNews">
<part name="parameters" element="tns:addNews"/>
</message>
<message name="updateNews">
<part name="parameters" element="tns:updateNews"/>
</message>
<message name="deleteNews">
<part name="parameters" element="tns:deleteNews"/>
</message>
<message name="getNewsDetails">
<part name="parameters" element="tns:getNewsDetails"/>
</message>
<message name="getNewsDetailsResponse">
<part name="parameters" element="tns:getNewsDetailsResponse"/>
</message>
<message name="getNewsDetails_1">
<part name="parameters" element="tns:getNewsDetails_1"/>
</message>
<message name="getNewsDetails_1Response">
<part name="parameters" element="tns:getNewsDetails_1Response"/>
</message>
<message name="addOrder">
<part name="parameters" element="tns:addOrder"/>
</message>
<message name="updateOrder">
<part name="parameters" element="tns:updateOrder"/>
</message>
<message name="deleteOrder">
<part name="parameters" element="tns:deleteOrder"/>
</message>
<message name="getPendingOrder_1">
<part name="parameters" element="tns:getPendingOrder_1"/>
</message>
<message name="getPendingOrder_1Response">
<part name="parameters" element="tns:getPendingOrder_1Response"/>
</message>
<message name="getPendingOrder">
<part name="parameters" element="tns:getPendingOrder"/>
</message>
<message name="getPendingOrderResponse">
<part name="parameters" element="tns:getPendingOrderResponse"/>
</message>
<message name="addTrader">
<part name="parameters" element="tns:addTrader"/>
</message>
<message name="deleteAdmin">
<part name="parameters" element="tns:deleteAdmin"/>
</message>
<message name="getAdminDetails">
<part name="parameters" element="tns:getAdminDetails"/>
</message>
<message name="getAdminDetailsResponse">
<part name="parameters" element="tns:getAdminDetailsResponse"/>
</message>
<message name="getAdminByUserId">
<part name="parameters" element="tns:getAdminByUserId"/>
</message>
<message name="getAdminByUserIdResponse">
<part name="parameters" element="tns:getAdminByUserIdResponse"/>
</message>
<message name="checkUserAvability">
<part name="parameters" element="tns:checkUserAvability"/>
</message>
<message name="checkUserAvabilityResponse">
<part name="parameters" element="tns:checkUserAvabilityResponse"/>
</message>
<message name="getQuotes">
<part name="parameters" element="tns:getQuotes"/>
</message>
<message name="getQuotesResponse">
<part name="parameters" element="tns:getQuotesResponse"/>
</message>
<message name="getTraddersStock">
<part name="parameters" element="tns:getTraddersStock"/>
</message>
<message name="getTraddersStockResponse">
<part name="parameters" element="tns:getTraddersStockResponse"/>
</message>
<message name="getTraddersStock_1">
<part name="parameters" element="tns:getTraddersStock_1"/>
</message>
<message name="getTraddersStock_1Response">
<part name="parameters" element="tns:getTraddersStock_1Response"/>
</message>
<message name="getObjTraddersStock">
<part name="parameters" element="tns:getObjTraddersStock"/>
</message>
<message name="getObjTraddersStockResponse">
<part name="parameters" element="tns:getObjTraddersStockResponse"/>
</message>
<message name="getAllStates">
<part name="parameters" element="tns:getAllStates"/>
</message>
<message name="getAllStatesResponse">
<part name="parameters" element="tns:getAllStatesResponse"/>
</message>
<message name="getCityByState">
<part name="parameters" element="tns:getCityByState"/>
</message>
<message name="getCityByStateResponse">
<part name="parameters" element="tns:getCityByStateResponse"/>
</message>
<message name="getAllCity">
<part name="parameters" element="tns:getAllCity"/>
</message>
<message name="getAllCityResponse">
<part name="parameters" element="tns:getAllCityResponse"/>
</message>
<message name="getObjState">
<part name="parameters" element="tns:getObjState"/>
</message>
<message name="getObjStateResponse">
<part name="parameters" element="tns:getObjStateResponse"/>
</message>
<message name="getAuto">
<part name="parameters" element="tns:getAuto"/>
</message>
<message name="getAutoResponse">
<part name="parameters" element="tns:getAutoResponse"/>
</message>
<message name="sendMail">
<part name="parameters" element="tns:sendMail"/>
</message>
<message name="sendSms">
<part name="parameters" element="tns:sendSms"/>
</message>
<message name="registrationTrader">
<part name="parameters" element="tns:registrationTrader"/>
</message>
<message name="getRegistrationDetails">
<part name="parameters" element="tns:getRegistrationDetails"/>
</message>
<message name="getRegistrationDetailsResponse">
<part name="parameters" element="tns:getRegistrationDetailsResponse"/>
</message>
<message name="getRegistrationDetails_1">
<part name="parameters" element="tns:getRegistrationDetails_1"/>
</message>
<message name="getRegistrationDetails_1Response">
<part name="parameters" element="tns:getRegistrationDetails_1Response"/>
</message>
<message name="getPendingRegistation">
<part name="parameters" element="tns:getPendingRegistation"/>
</message>
<message name="getPendingRegistationResponse">
<part name="parameters" element="tns:getPendingRegistationResponse"/>
</message>
<message name="updateRegistration">
<part name="parameters" element="tns:updateRegistration"/>
</message>
<message name="getMonthAll">
<part name="parameters" element="tns:getMonthAll"/>
</message>
<message name="getMonthAllResponse">
<part name="parameters" element="tns:getMonthAllResponse"/>
</message>
<message name="getOrderDetails_1">
<part name="parameters" element="tns:getOrderDetails_1"/>
</message>
<message name="getOrderDetails_1Response">
<part name="parameters" element="tns:getOrderDetails_1Response"/>
</message>
<message name="getOrderDetails">
<part name="parameters" element="tns:getOrderDetails"/>
</message>
<message name="getOrderDetailsResponse">
<part name="parameters" element="tns:getOrderDetailsResponse"/>
</message>
<message name="getObjOrderDetails">
<part name="parameters" element="tns:getObjOrderDetails"/>
</message>
<message name="getObjOrderDetailsResponse">
<part name="parameters" element="tns:getObjOrderDetailsResponse"/>
</message>
<message name="updateTrader">
<part name="parameters" element="tns:updateTrader"/>
</message>
<message name="deleteTrader">
<part name="parameters" element="tns:deleteTrader"/>
</message>
<message name="addTraderFund">
<part name="parameters" element="tns:addTraderFund"/>
</message>
<message name="getTraderDetails_1">
<part name="parameters" element="tns:getTraderDetails_1"/>
</message>
<message name="getTraderDetails_1Response">
<part name="parameters" element="tns:getTraderDetails_1Response"/>
</message>
<message name="getTraderDetails">
<part name="parameters" element="tns:getTraderDetails"/>
</message>
<message name="getTraderDetailsResponse">
<part name="parameters" element="tns:getTraderDetailsResponse"/>
</message>
<message name="getTraderDetailsByBrocker">
<part name="parameters" element="tns:getTraderDetailsByBrocker"/>
</message>
<message name="getTraderDetailsByBrockerResponse">
<part name="parameters" element="tns:getTraderDetailsByBrockerResponse"/>
</message>
<message name="getTraderByUserId">
<part name="parameters" element="tns:getTraderByUserId"/>
</message>
<message name="getTraderByUserIdResponse">
<part name="parameters" element="tns:getTraderByUserIdResponse"/>
</message>
<message name="getTraderByBrokerId">
<part name="parameters" element="tns:getTraderByBrokerId"/>
</message>
<message name="getTraderByBrokerIdResponse">
<part name="parameters" element="tns:getTraderByBrokerIdResponse"/>
</message>
<message name="getObjTrader">
<part name="parameters" element="tns:getObjTrader"/>
</message>
<message name="getObjTraderResponse">
<part name="parameters" element="tns:getObjTraderResponse"/>
</message>
<message name="getTransactionDetails_3">
<part name="parameters" element="tns:getTransactionDetails_3"/>
</message>
<message name="getTransactionDetails_3Response">
<part name="parameters" element="tns:getTransactionDetails_3Response"/>
</message>
<message name="getTransactionDetails_2">
<part name="parameters" element="tns:getTransactionDetails_2"/>
</message>
<message name="getTransactionDetails_2Response">
<part name="parameters" element="tns:getTransactionDetails_2Response"/>
</message>
<message name="getTransactionDetails_1">
<part name="parameters" element="tns:getTransactionDetails_1"/>
</message>
<message name="getTransactionDetails_1Response">
<part name="parameters" element="tns:getTransactionDetails_1Response"/>
</message>
<message name="getTransactionDetails">
<part name="parameters" element="tns:getTransactionDetails"/>
</message>
<message name="getTransactionDetailsResponse">
<part name="parameters" element="tns:getTransactionDetailsResponse"/>
</message>
<message name="getTransactionSell_2">
<part name="parameters" element="tns:getTransactionSell_2"/>
</message>
<message name="getTransactionSell_2Response">
<part name="parameters" element="tns:getTransactionSell_2Response"/>
</message>
<message name="getTransactionSell_1">
<part name="parameters" element="tns:getTransactionSell_1"/>
</message>
<message name="getTransactionSell_1Response">
<part name="parameters" element="tns:getTransactionSell_1Response"/>
</message>
<message name="getTransactionSell">
<part name="parameters" element="tns:getTransactionSell"/>
</message>
<message name="getTransactionSellResponse">
<part name="parameters" element="tns:getTransactionSellResponse"/>
</message>
<message name="getTransactionBuy_2">
<part name="parameters" element="tns:getTransactionBuy_2"/>
</message>
<message name="getTransactionBuy_2Response">
<part name="parameters" element="tns:getTransactionBuy_2Response"/>
</message>
<message name="getTransactionBuy">
<part name="parameters" element="tns:getTransactionBuy"/>
</message>
<message name="getTransactionBuyResponse">
<part name="parameters" element="tns:getTransactionBuyResponse"/>
</message>
<message name="getTransactionBuy_1">
<part name="parameters" element="tns:getTransactionBuy_1"/>
</message>
<message name="getTransactionBuy_1Response">
<part name="parameters" element="tns:getTransactionBuy_1Response"/>
</message>
<message name="getTransactionOfMonth">
<part name="parameters" element="tns:getTransactionOfMonth"/>
</message>
<message name="getTransactionOfMonthResponse">
<part name="parameters" element="tns:getTransactionOfMonthResponse"/>
</message>
<message name="getMonthWiseTotal">
<part name="parameters" element="tns:getMonthWiseTotal"/>
</message>
<message name="getMonthWiseTotalResponse">
<part name="parameters" element="tns:getMonthWiseTotalResponse"/>
</message>
<message name="getMonthWiseMonth">
<part name="parameters" element="tns:getMonthWiseMonth"/>
</message>
<message name="getMonthWiseMonthResponse">
<part name="parameters" element="tns:getMonthWiseMonthResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="getUserMasterDetails">
<part name="parameters" element="tns:getUserMasterDetails"/>
</message>
<message name="getUserMasterDetailsResponse">
<part name="parameters" element="tns:getUserMasterDetailsResponse"/>
</message>
<message name="getObjUserDetails">
<part name="parameters" element="tns:getObjUserDetails"/>
</message>
<message name="getObjUserDetailsResponse">
<part name="parameters" element="tns:getObjUserDetailsResponse"/>
</message>
<message name="deleteUserGroup">
<part name="parameters" element="tns:deleteUserGroup"/>
</message>
<message name="addUserSGroup">
<part name="parameters" element="tns:addUserSGroup"/>
</message>
<message name="getUserGroupDetails">
<part name="parameters" element="tns:getUserGroupDetails"/>
</message>
<message name="getUserGroupDetailsResponse">
<part name="parameters" element="tns:getUserGroupDetailsResponse"/>
</message>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin"/>
</message>
<portType name="stService">
<operation name="getState">
<input wsam:Action="http://Service/stService/getStateRequest" message="tns:getState"/>
<output wsam:Action="http://Service/stService/getStateResponse" message="tns:getStateResponse"/>
</operation>
<operation name="addTransaction">
<input wsam:Action="http://Service/stService/addTransaction" message="tns:addTransaction"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://Service/stService/changePassword" message="tns:changePassword"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://Service/stService/addUser" message="tns:addUser"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://Service/stService/updateUser" message="tns:updateUser"/>
</operation>
<operation name="addStock">
<input wsam:Action="http://Service/stService/addStock" message="tns:addStock"/>
</operation>
<operation name="updateStock">
<input wsam:Action="http://Service/stService/updateStock" message="tns:updateStock"/>
</operation>
<operation name="deleteStock">
<input wsam:Action="http://Service/stService/deleteStock" message="tns:deleteStock"/>
</operation>
<operation name="getStockDetails_1">
<input wsam:Action="http://Service/stService/getStockDetails_1Request" message="tns:getStockDetails_1"/>
<output wsam:Action="http://Service/stService/getStockDetails_1Response" message="tns:getStockDetails_1Response"/>
</operation>
<operation name="getStockDetails">
<input wsam:Action="http://Service/stService/getStockDetailsRequest" message="tns:getStockDetails"/>
<output wsam:Action="http://Service/stService/getStockDetailsResponse" message="tns:getStockDetailsResponse"/>
</operation>
<operation name="addBroker">
<input wsam:Action="http://Service/stService/addBroker" message="tns:addBroker"/>
</operation>
<operation name="updateBroker">
<input wsam:Action="http://Service/stService/updateBroker" message="tns:updateBroker"/>
</operation>
<operation name="deleteBroker">
<input wsam:Action="http://Service/stService/deleteBroker" message="tns:deleteBroker"/>
</operation>
<operation name="addBrokerFund">
<input wsam:Action="http://Service/stService/addBrokerFund" message="tns:addBrokerFund"/>
</operation>
<operation name="getBrokerDetails">
<input wsam:Action="http://Service/stService/getBrokerDetailsRequest" message="tns:getBrokerDetails"/>
<output wsam:Action="http://Service/stService/getBrokerDetailsResponse" message="tns:getBrokerDetailsResponse"/>
</operation>
<operation name="getBrokerDetails_1">
<input wsam:Action="http://Service/stService/getBrokerDetails_1Request" message="tns:getBrokerDetails_1"/>
<output wsam:Action="http://Service/stService/getBrokerDetails_1Response" message="tns:getBrokerDetails_1Response"/>
</operation>
<operation name="getObjBroker">
<input wsam:Action="http://Service/stService/getObjBrokerRequest" message="tns:getObjBroker"/>
<output wsam:Action="http://Service/stService/getObjBrokerResponse" message="tns:getObjBrokerResponse"/>
</operation>
<operation name="getBrokerByUserId">
<input wsam:Action="http://Service/stService/getBrokerByUserIdRequest" message="tns:getBrokerByUserId"/>
<output wsam:Action="http://Service/stService/getBrokerByUserIdResponse" message="tns:getBrokerByUserIdResponse"/>
</operation>
<operation name="addNews">
<input wsam:Action="http://Service/stService/addNews" message="tns:addNews"/>
</operation>
<operation name="updateNews">
<input wsam:Action="http://Service/stService/updateNews" message="tns:updateNews"/>
</operation>
<operation name="deleteNews">
<input wsam:Action="http://Service/stService/deleteNews" message="tns:deleteNews"/>
</operation>
<operation name="getNewsDetails">
<input wsam:Action="http://Service/stService/getNewsDetailsRequest" message="tns:getNewsDetails"/>
<output wsam:Action="http://Service/stService/getNewsDetailsResponse" message="tns:getNewsDetailsResponse"/>
</operation>
<operation name="getNewsDetails_1">
<input wsam:Action="http://Service/stService/getNewsDetails_1Request" message="tns:getNewsDetails_1"/>
<output wsam:Action="http://Service/stService/getNewsDetails_1Response" message="tns:getNewsDetails_1Response"/>
</operation>
<operation name="addOrder">
<input wsam:Action="http://Service/stService/addOrder" message="tns:addOrder"/>
</operation>
<operation name="updateOrder">
<input wsam:Action="http://Service/stService/updateOrder" message="tns:updateOrder"/>
</operation>
<operation name="deleteOrder">
<input wsam:Action="http://Service/stService/deleteOrder" message="tns:deleteOrder"/>
</operation>
<operation name="getPendingOrder_1">
<input wsam:Action="http://Service/stService/getPendingOrder_1Request" message="tns:getPendingOrder_1"/>
<output wsam:Action="http://Service/stService/getPendingOrder_1Response" message="tns:getPendingOrder_1Response"/>
</operation>
<operation name="getPendingOrder">
<input wsam:Action="http://Service/stService/getPendingOrderRequest" message="tns:getPendingOrder"/>
<output wsam:Action="http://Service/stService/getPendingOrderResponse" message="tns:getPendingOrderResponse"/>
</operation>
<operation name="addTrader">
<input wsam:Action="http://Service/stService/addTrader" message="tns:addTrader"/>
</operation>
<operation name="deleteAdmin">
<input wsam:Action="http://Service/stService/deleteAdmin" message="tns:deleteAdmin"/>
</operation>
<operation name="getAdminDetails">
<input wsam:Action="http://Service/stService/getAdminDetailsRequest" message="tns:getAdminDetails"/>
<output wsam:Action="http://Service/stService/getAdminDetailsResponse" message="tns:getAdminDetailsResponse"/>
</operation>
<operation name="getAdminByUserId">
<input wsam:Action="http://Service/stService/getAdminByUserIdRequest" message="tns:getAdminByUserId"/>
<output wsam:Action="http://Service/stService/getAdminByUserIdResponse" message="tns:getAdminByUserIdResponse"/>
</operation>
<operation name="checkUserAvability">
<input wsam:Action="http://Service/stService/checkUserAvabilityRequest" message="tns:checkUserAvability"/>
<output wsam:Action="http://Service/stService/checkUserAvabilityResponse" message="tns:checkUserAvabilityResponse"/>
</operation>
<operation name="getQuotes">
<input wsam:Action="http://Service/stService/getQuotesRequest" message="tns:getQuotes"/>
<output wsam:Action="http://Service/stService/getQuotesResponse" message="tns:getQuotesResponse"/>
</operation>
<operation name="getTraddersStock">
<input wsam:Action="http://Service/stService/getTraddersStockRequest" message="tns:getTraddersStock"/>
<output wsam:Action="http://Service/stService/getTraddersStockResponse" message="tns:getTraddersStockResponse"/>
</operation>
<operation name="getTraddersStock_1">
<input wsam:Action="http://Service/stService/getTraddersStock_1Request" message="tns:getTraddersStock_1"/>
<output wsam:Action="http://Service/stService/getTraddersStock_1Response" message="tns:getTraddersStock_1Response"/>
</operation>
<operation name="getObjTraddersStock">
<input wsam:Action="http://Service/stService/getObjTraddersStockRequest" message="tns:getObjTraddersStock"/>
<output wsam:Action="http://Service/stService/getObjTraddersStockResponse" message="tns:getObjTraddersStockResponse"/>
</operation>
<operation name="getAllStates">
<input wsam:Action="http://Service/stService/getAllStatesRequest" message="tns:getAllStates"/>
<output wsam:Action="http://Service/stService/getAllStatesResponse" message="tns:getAllStatesResponse"/>
</operation>
<operation name="getCityByState">
<input wsam:Action="http://Service/stService/getCityByStateRequest" message="tns:getCityByState"/>
<output wsam:Action="http://Service/stService/getCityByStateResponse" message="tns:getCityByStateResponse"/>
</operation>
<operation name="getAllCity">
<input wsam:Action="http://Service/stService/getAllCityRequest" message="tns:getAllCity"/>
<output wsam:Action="http://Service/stService/getAllCityResponse" message="tns:getAllCityResponse"/>
</operation>
<operation name="getObjState">
<input wsam:Action="http://Service/stService/getObjStateRequest" message="tns:getObjState"/>
<output wsam:Action="http://Service/stService/getObjStateResponse" message="tns:getObjStateResponse"/>
</operation>
<operation name="getAuto">
<input wsam:Action="http://Service/stService/getAutoRequest" message="tns:getAuto"/>
<output wsam:Action="http://Service/stService/getAutoResponse" message="tns:getAutoResponse"/>
</operation>
<operation name="sendMail">
<input wsam:Action="http://Service/stService/sendMail" message="tns:sendMail"/>
</operation>
<operation name="sendSms">
<input wsam:Action="http://Service/stService/sendSms" message="tns:sendSms"/>
</operation>
<operation name="registrationTrader">
<input wsam:Action="http://Service/stService/registrationTrader" message="tns:registrationTrader"/>
</operation>
<operation name="getRegistrationDetails">
<input wsam:Action="http://Service/stService/getRegistrationDetailsRequest" message="tns:getRegistrationDetails"/>
<output wsam:Action="http://Service/stService/getRegistrationDetailsResponse" message="tns:getRegistrationDetailsResponse"/>
</operation>
<operation name="getRegistrationDetails_1">
<input wsam:Action="http://Service/stService/getRegistrationDetails_1Request" message="tns:getRegistrationDetails_1"/>
<output wsam:Action="http://Service/stService/getRegistrationDetails_1Response" message="tns:getRegistrationDetails_1Response"/>
</operation>
<operation name="getPendingRegistation">
<input wsam:Action="http://Service/stService/getPendingRegistationRequest" message="tns:getPendingRegistation"/>
<output wsam:Action="http://Service/stService/getPendingRegistationResponse" message="tns:getPendingRegistationResponse"/>
</operation>
<operation name="updateRegistration">
<input wsam:Action="http://Service/stService/updateRegistration" message="tns:updateRegistration"/>
</operation>
<operation name="getMonthAll">
<input wsam:Action="http://Service/stService/getMonthAllRequest" message="tns:getMonthAll"/>
<output wsam:Action="http://Service/stService/getMonthAllResponse" message="tns:getMonthAllResponse"/>
</operation>
<operation name="getOrderDetails_1">
<input wsam:Action="http://Service/stService/getOrderDetails_1Request" message="tns:getOrderDetails_1"/>
<output wsam:Action="http://Service/stService/getOrderDetails_1Response" message="tns:getOrderDetails_1Response"/>
</operation>
<operation name="getOrderDetails">
<input wsam:Action="http://Service/stService/getOrderDetailsRequest" message="tns:getOrderDetails"/>
<output wsam:Action="http://Service/stService/getOrderDetailsResponse" message="tns:getOrderDetailsResponse"/>
</operation>
<operation name="getObjOrderDetails">
<input wsam:Action="http://Service/stService/getObjOrderDetailsRequest" message="tns:getObjOrderDetails"/>
<output wsam:Action="http://Service/stService/getObjOrderDetailsResponse" message="tns:getObjOrderDetailsResponse"/>
</operation>
<operation name="updateTrader">
<input wsam:Action="http://Service/stService/updateTrader" message="tns:updateTrader"/>
</operation>
<operation name="deleteTrader">
<input wsam:Action="http://Service/stService/deleteTrader" message="tns:deleteTrader"/>
</operation>
<operation name="addTraderFund">
<input wsam:Action="http://Service/stService/addTraderFund" message="tns:addTraderFund"/>
</operation>
<operation name="getTraderDetails_1">
<input wsam:Action="http://Service/stService/getTraderDetails_1Request" message="tns:getTraderDetails_1"/>
<output wsam:Action="http://Service/stService/getTraderDetails_1Response" message="tns:getTraderDetails_1Response"/>
</operation>
<operation name="getTraderDetails">
<input wsam:Action="http://Service/stService/getTraderDetailsRequest" message="tns:getTraderDetails"/>
<output wsam:Action="http://Service/stService/getTraderDetailsResponse" message="tns:getTraderDetailsResponse"/>
</operation>
<operation name="getTraderDetailsByBrocker">
<input wsam:Action="http://Service/stService/getTraderDetailsByBrockerRequest" message="tns:getTraderDetailsByBrocker"/>
<output wsam:Action="http://Service/stService/getTraderDetailsByBrockerResponse" message="tns:getTraderDetailsByBrockerResponse"/>
</operation>
<operation name="getTraderByUserId">
<input wsam:Action="http://Service/stService/getTraderByUserIdRequest" message="tns:getTraderByUserId"/>
<output wsam:Action="http://Service/stService/getTraderByUserIdResponse" message="tns:getTraderByUserIdResponse"/>
</operation>
<operation name="getTraderByBrokerId">
<input wsam:Action="http://Service/stService/getTraderByBrokerIdRequest" message="tns:getTraderByBrokerId"/>
<output wsam:Action="http://Service/stService/getTraderByBrokerIdResponse" message="tns:getTraderByBrokerIdResponse"/>
</operation>
<operation name="getObjTrader">
<input wsam:Action="http://Service/stService/getObjTraderRequest" message="tns:getObjTrader"/>
<output wsam:Action="http://Service/stService/getObjTraderResponse" message="tns:getObjTraderResponse"/>
</operation>
<operation name="getTransactionDetails_3">
<input wsam:Action="http://Service/stService/getTransactionDetails_3Request" message="tns:getTransactionDetails_3"/>
<output wsam:Action="http://Service/stService/getTransactionDetails_3Response" message="tns:getTransactionDetails_3Response"/>
</operation>
<operation name="getTransactionDetails_2">
<input wsam:Action="http://Service/stService/getTransactionDetails_2Request" message="tns:getTransactionDetails_2"/>
<output wsam:Action="http://Service/stService/getTransactionDetails_2Response" message="tns:getTransactionDetails_2Response"/>
</operation>
<operation name="getTransactionDetails_1">
<input wsam:Action="http://Service/stService/getTransactionDetails_1Request" message="tns:getTransactionDetails_1"/>
<output wsam:Action="http://Service/stService/getTransactionDetails_1Response" message="tns:getTransactionDetails_1Response"/>
</operation>
<operation name="getTransactionDetails">
<input wsam:Action="http://Service/stService/getTransactionDetailsRequest" message="tns:getTransactionDetails"/>
<output wsam:Action="http://Service/stService/getTransactionDetailsResponse" message="tns:getTransactionDetailsResponse"/>
</operation>
<operation name="getTransactionSell_2">
<input wsam:Action="http://Service/stService/getTransactionSell_2Request" message="tns:getTransactionSell_2"/>
<output wsam:Action="http://Service/stService/getTransactionSell_2Response" message="tns:getTransactionSell_2Response"/>
</operation>
<operation name="getTransactionSell_1">
<input wsam:Action="http://Service/stService/getTransactionSell_1Request" message="tns:getTransactionSell_1"/>
<output wsam:Action="http://Service/stService/getTransactionSell_1Response" message="tns:getTransactionSell_1Response"/>
</operation>
<operation name="getTransactionSell">
<input wsam:Action="http://Service/stService/getTransactionSellRequest" message="tns:getTransactionSell"/>
<output wsam:Action="http://Service/stService/getTransactionSellResponse" message="tns:getTransactionSellResponse"/>
</operation>
<operation name="getTransactionBuy_2">
<input wsam:Action="http://Service/stService/getTransactionBuy_2Request" message="tns:getTransactionBuy_2"/>
<output wsam:Action="http://Service/stService/getTransactionBuy_2Response" message="tns:getTransactionBuy_2Response"/>
</operation>
<operation name="getTransactionBuy">
<input wsam:Action="http://Service/stService/getTransactionBuyRequest" message="tns:getTransactionBuy"/>
<output wsam:Action="http://Service/stService/getTransactionBuyResponse" message="tns:getTransactionBuyResponse"/>
</operation>
<operation name="getTransactionBuy_1">
<input wsam:Action="http://Service/stService/getTransactionBuy_1Request" message="tns:getTransactionBuy_1"/>
<output wsam:Action="http://Service/stService/getTransactionBuy_1Response" message="tns:getTransactionBuy_1Response"/>
</operation>
<operation name="getTransactionOfMonth">
<input wsam:Action="http://Service/stService/getTransactionOfMonthRequest" message="tns:getTransactionOfMonth"/>
<output wsam:Action="http://Service/stService/getTransactionOfMonthResponse" message="tns:getTransactionOfMonthResponse"/>
</operation>
<operation name="getMonthWiseTotal">
<input wsam:Action="http://Service/stService/getMonthWiseTotalRequest" message="tns:getMonthWiseTotal"/>
<output wsam:Action="http://Service/stService/getMonthWiseTotalResponse" message="tns:getMonthWiseTotalResponse"/>
</operation>
<operation name="getMonthWiseMonth">
<input wsam:Action="http://Service/stService/getMonthWiseMonthRequest" message="tns:getMonthWiseMonth"/>
<output wsam:Action="http://Service/stService/getMonthWiseMonthResponse" message="tns:getMonthWiseMonthResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://Service/stService/deleteUser" message="tns:deleteUser"/>
</operation>
<operation name="getUserMasterDetails">
<input wsam:Action="http://Service/stService/getUserMasterDetailsRequest" message="tns:getUserMasterDetails"/>
<output wsam:Action="http://Service/stService/getUserMasterDetailsResponse" message="tns:getUserMasterDetailsResponse"/>
</operation>
<operation name="getObjUserDetails">
<input wsam:Action="http://Service/stService/getObjUserDetailsRequest" message="tns:getObjUserDetails"/>
<output wsam:Action="http://Service/stService/getObjUserDetailsResponse" message="tns:getObjUserDetailsResponse"/>
</operation>
<operation name="deleteUserGroup">
<input wsam:Action="http://Service/stService/deleteUserGroup" message="tns:deleteUserGroup"/>
</operation>
<operation name="addUserSGroup">
<input wsam:Action="http://Service/stService/addUserSGroup" message="tns:addUserSGroup"/>
</operation>
<operation name="getUserGroupDetails">
<input wsam:Action="http://Service/stService/getUserGroupDetailsRequest" message="tns:getUserGroupDetails"/>
<output wsam:Action="http://Service/stService/getUserGroupDetailsResponse" message="tns:getUserGroupDetailsResponse"/>
</operation>
<operation name="addAdmin">
<input wsam:Action="http://Service/stService/addAdmin" message="tns:addAdmin"/>
</operation>
</portType>
<binding name="stServicePortBinding" type="tns:stService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getStockDetails_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStockDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBroker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateBroker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteBroker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addBrokerFund">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getBrokerDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBrokerDetails_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObjBroker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBrokerByUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getNewsDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNewsDetails_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPendingOrder_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPendingOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTrader">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAdminDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdminByUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUserAvability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTraddersStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTraddersStock_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObjTraddersStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCityByState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObjState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAuto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="sendSms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="registrationTrader">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getRegistrationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegistrationDetails_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPendingRegistation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getMonthAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderDetails_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrderDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObjOrderDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTrader">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteTrader">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addTraderFund">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getTraderDetails_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTraderDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTraderDetailsByBrocker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTraderByUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTraderByBrokerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObjTrader">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionDetails_3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionDetails_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionDetails_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionSell_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionSell_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionBuy_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionBuy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionBuy_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionOfMonth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMonthWiseTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMonthWiseMonth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getUserMasterDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getObjUserDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUserGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addUserSGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getUserGroupDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="stService">
<port name="stServicePort" binding="tns:stServicePortBinding">
<soap:address location="http://localhost:8080/stService/stService"/>
</port>
</service>
</definitions>