virtualSTWeb/web/WEB-INF/wsdl/localhost_8080/stSerice/stSerice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="addBranch" type="tns:addBranch"/>

<xs:element name="addBroker" type="tns:addBroker"/>

<xs:element name="addNews" type="tns:addNews"/>

<xs:element name="addOrder" type="tns:addOrder"/>

<xs:element name="addReport" type="tns:addReport"/>

<xs:element name="addStock" type="tns:addStock"/>

<xs:element name="addTrader" type="tns:addTrader"/>

<xs:element name="addTraderSPermition" type="tns:addTraderSPermition"/>

<xs:element name="addTransaction" type="tns:addTransaction"/>

<xs:element name="addUser" type="tns:addUser"/>

<xs:element name="addUserSGroup" type="tns:addUserSGroup"/>

<xs:element name="brokerBranch" type="tns:brokerBranch"/>

<xs:element name="brokerMaster" type="tns:brokerMaster"/>

<xs:element name="changePassword" type="tns:changePassword"/>

<xs:element name="checkUserAvability" type="tns:checkUserAvability"/>

<xs:element name="checkUserAvabilityResponse" type="tns:checkUserAvabilityResponse"/>

<xs:element name="cityMaster" type="tns:cityMaster"/>

<xs:element name="deleteBranch" type="tns:deleteBranch"/>

<xs:element name="deleteBroker" type="tns:deleteBroker"/>

<xs:element name="deleteNews" type="tns:deleteNews"/>

<xs:element name="deleteOrder" type="tns:deleteOrder"/>

<xs:element name="deleteReport" type="tns:deleteReport"/>

<xs:element name="deleteStock" type="tns:deleteStock"/>

<xs:element name="deleteTrader" type="tns:deleteTrader"/>

<xs:element name="deleteTraderSPermition" type="tns:deleteTraderSPermition"/>

<xs:element name="deleteUser" type="tns:deleteUser"/>

<xs:element name="getAllStates" type="tns:getAllStates"/>

<xs:element name="getAllStatesResponse" type="tns:getAllStatesResponse"/>

<xs:element name="getBranchDetails" type="tns:getBranchDetails"/>

<xs:element name="getBranchDetailsResponse" type="tns:getBranchDetailsResponse"/>

<xs:element name="getBranchDetails_1" type="tns:getBranchDetails_1"/>

<xs:element name="getBranchDetails_1Response" type="tns:getBranchDetails_1Response"/>

<xs:element name="getBrokerDetails" type="tns:getBrokerDetails"/>

<xs:element name="getBrokerDetailsResponse" type="tns:getBrokerDetailsResponse"/>

<xs:element name="getBrokerDetails_1" type="tns:getBrokerDetails_1"/>

<xs:element name="getBrokerDetails_1Response" type="tns:getBrokerDetails_1Response"/>

<xs:element name="getCityByState" type="tns:getCityByState"/>

<xs:element name="getCityByStateResponse" type="tns:getCityByStateResponse"/>

<xs:element name="getNewsDetails" type="tns:getNewsDetails"/>

<xs:element name="getNewsDetailsResponse" type="tns:getNewsDetailsResponse"/>

<xs:element name="getNewsDetails_1" type="tns:getNewsDetails_1"/>

<xs:element name="getNewsDetails_1Response" type="tns:getNewsDetails_1Response"/>

<xs:element name="getOrderDetails" type="tns:getOrderDetails"/>

<xs:element name="getOrderDetailsResponse" type="tns:getOrderDetailsResponse"/>

<xs:element name="getOrderDetails_1" type="tns:getOrderDetails_1"/>

<xs:element name="getOrderDetails_1Response" type="tns:getOrderDetails_1Response"/>

<xs:element name="getPendingOrder" type="tns:getPendingOrder"/>

<xs:element name="getPendingOrderResponse" type="tns:getPendingOrderResponse"/>

<xs:element name="getQuotes" type="tns:getQuotes"/>

<xs:element name="getQuotesResponse" type="tns:getQuotesResponse"/>

<xs:element name="getStockDetails" type="tns:getStockDetails"/>

<xs:element name="getStockDetailsResponse" type="tns:getStockDetailsResponse"/>

<xs:element name="getStockDetails_1" type="tns:getStockDetails_1"/>

<xs:element name="getStockDetails_1Response" type="tns:getStockDetails_1Response"/>

<xs:element name="getTraderDetails" type="tns:getTraderDetails"/>

<xs:element name="getTraderDetailsByBrocker" type="tns:getTraderDetailsByBrocker"/>

<xs:element name="getTraderDetailsByBrockerResponse" type="tns:getTraderDetailsByBrockerResponse"/>

<xs:element name="getTraderDetailsResponse" type="tns:getTraderDetailsResponse"/>

<xs:element name="getTraderDetails_1" type="tns:getTraderDetails_1"/>

<xs:element name="getTraderDetails_1Response" type="tns:getTraderDetails_1Response"/>

<xs:element name="getTraderSPermition" type="tns:getTraderSPermition"/>

<xs:element name="getTraderSPermitionResponse" type="tns:getTraderSPermitionResponse"/>

<xs:element name="getUserMasterDetails" type="tns:getUserMasterDetails"/>

<xs:element name="getUserMasterDetailsResponse" type="tns:getUserMasterDetailsResponse"/>

<xs:element name="newsMaster" type="tns:newsMaster"/>

<xs:element name="orderMaster" type="tns:orderMaster"/>

<xs:element name="stateMaster" type="tns:stateMaster"/>

<xs:element name="stockDetails" type="tns:stockDetails"/>

<xs:element name="traderMaster" type="tns:traderMaster"/>

<xs:element name="updateBranch" type="tns:updateBranch"/>

<xs:element name="updateBroker" type="tns:updateBroker"/>

<xs:element name="updateNews" type="tns:updateNews"/>

<xs:element name="updateOrder" type="tns:updateOrder"/>

<xs:element name="updateReport" type="tns:updateReport"/>

<xs:element name="updateStock" type="tns:updateStock"/>

<xs:element name="updateTrader" type="tns:updateTrader"/>

<xs:element name="updateUser" type="tns:updateUser"/>

<xs:element name="userMaster" type="tns:userMaster"/>

<xs:complexType name="addBroker">
<xs:sequence>
<xs:element name="broker_name" type="xs:string" minOccurs="0"/>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
<xs:element name="correspond_office" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="clearingNo" type="xs:string" minOccurs="0"/>
<xs:element name="trade_name" type="xs:string" minOccurs="0"/>
<xs:element name="corporate_email" type="xs:string" minOccurs="0"/>
<xs:element name="SEBIno" type="xs:string" minOccurs="0"/>
<xs:element name="deposit" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBroker">
<xs:sequence>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
<xs:element name="broker_name" type="xs:string" minOccurs="0"/>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
<xs:element name="correspond_office" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="clearingNo" type="xs:string" minOccurs="0"/>
<xs:element name="trade_name" type="xs:string" minOccurs="0"/>
<xs:element name="corporate_email" type="xs:string" minOccurs="0"/>
<xs:element name="SEBIno" type="xs:string" minOccurs="0"/>
<xs:element name="deposit" type="xs:double" minOccurs="0"/>
<xs:element name="fund" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReport">
<xs:sequence>
<xs:element name="script_id" type="xs:string" minOccurs="0"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="report_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="report" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTraderDetailsByBrocker">
<xs:sequence>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTraderDetailsByBrockerResponse">
<xs:sequence>
<xs:element name="return" type="tns:traderMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traderMaster">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="brokerId" type="tns:brokerMaster" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="deposit" type="xs:double"/>
<xs:element name="emailId" type="xs:string" minOccurs="0"/>
<xs:element name="fund" type="xs:double"/>
<xs:element name="panNo" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNo" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseLimit" type="xs:double"/>
<xs:element name="stat" type="xs:string" minOccurs="0"/>
<xs:element name="traderId" type="xs:double" minOccurs="0"/>
<xs:element name="traderName" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="tns:userMaster" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brokerMaster">
<xs:sequence>
<xs:element name="brokerId" type="xs:long" minOccurs="0"/>
<xs:element name="brokerName" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="clearingNo" type="xs:string" minOccurs="0"/>
<xs:element name="corporateEmail" type="xs:string" minOccurs="0"/>
<xs:element name="correspondOffice" type="xs:string" minOccurs="0"/>
<xs:element name="deposit" type="xs:double"/>
<xs:element name="fund" type="xs:double"/>
<xs:element name="sebiNo" type="xs:string" minOccurs="0"/>
<xs:element name="stat" type="xs:string" minOccurs="0"/>
<xs:element name="tradeName" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="tns:userMaster" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userMaster">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPendingOrder">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPendingOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderMaster">
<xs:sequence>
<xs:element name="orderDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="orderId" type="xs:double" minOccurs="0"/>
<xs:element name="orderType" type="xs:string" minOccurs="0"/>
<xs:element name="pending" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="scriptId" type="tns:stockDetails" minOccurs="0"/>
<xs:element name="traderId" type="tns:traderMaster" minOccurs="0"/>
<xs:element name="volume" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stockDetails">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="companyName" type="xs:string" minOccurs="0"/>
<xs:element name="director" type="xs:string" minOccurs="0"/>
<xs:element name="emailId" type="xs:string" minOccurs="0"/>
<xs:element name="faceValue" type="xs:int"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="groupType" type="xs:string" minOccurs="0"/>
<xs:element name="industry" type="xs:string" minOccurs="0"/>
<xs:element name="listingDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="marketLot" type="xs:int"/>
<xs:element name="phoneNo" type="xs:string" minOccurs="0"/>
<xs:element name="scriptCode" type="xs:string" minOccurs="0"/>
<xs:element name="scriptId" type="xs:string" minOccurs="0"/>
<xs:element name="stat" type="xs:string" minOccurs="0"/>
<xs:element name="website" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateOrder">
<xs:sequence>
<xs:element name="order_id" type="xs:double" minOccurs="0"/>
<xs:element name="trader_id" type="xs:double" minOccurs="0"/>
<xs:element name="volume" type="xs:long" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="script_id" type="xs:string" minOccurs="0"/>
<xs:element name="order_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="order_type" type="xs:string" minOccurs="0"/>
<xs:element name="pending" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStock">
<xs:sequence>
<xs:element name="script_id" type="xs:string" minOccurs="0"/>
<xs:element name="script_code" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="xs:string" minOccurs="0"/>
<xs:element name="industry" type="xs:string" minOccurs="0"/>
<xs:element name="market_lot" type="xs:int" minOccurs="0"/>
<xs:element name="listing_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="face_value" type="xs:int" minOccurs="0"/>
<xs:element name="company_name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="phoneno" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="email_id" type="xs:string" minOccurs="0"/>
<xs:element name="director" type="xs:string" minOccurs="0"/>
<xs:element name="website" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCityByState">
<xs:sequence>
<xs:element name="stateId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCityByStateResponse">
<xs:sequence>
<xs:element name="return" type="tns:cityMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cityMaster">
<xs:sequence>
<xs:element name="cityId" type="xs:int" minOccurs="0"/>
<xs:element name="cityName" type="xs:string" minOccurs="0"/>
<xs:element name="stateId" type="tns:stateMaster" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stateMaster">
<xs:sequence>
<xs:element name="stateId" type="xs:int" minOccurs="0"/>
<xs:element name="stateName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranch">
<xs:sequence>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
<xs:element name="office_address" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="phoneno" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="email_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateReport">
<xs:sequence>
<xs:element name="report_id" type="xs:int" minOccurs="0"/>
<xs:element name="script_id" type="xs:string" minOccurs="0"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="report_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="report" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getStockDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:stockDetails" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockDetails_1">
<xs:sequence>
<xs:element name="script_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockDetails_1Response">
<xs:sequence>
<xs:element name="return" type="tns:stockDetails" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBroker">
<xs:sequence>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePassword">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
<xs:element name="curPwd" type="xs:string" minOccurs="0"/>
<xs:element name="newPwd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTraderSPermition">
<xs:sequence>
<xs:element name="trader_id" type="xs:double" minOccurs="0"/>
<xs:element name="script_id" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTrader">
<xs:sequence>
<xs:element name="trader_id" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addStock">
<xs:sequence>
<xs:element name="script_id" type="xs:string" minOccurs="0"/>
<xs:element name="script_code" type="xs:string" minOccurs="0"/>
<xs:element name="group" type="xs:string" minOccurs="0"/>
<xs:element name="industry" type="xs:string" minOccurs="0"/>
<xs:element name="market_lot" type="xs:int" minOccurs="0"/>
<xs:element name="listing_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="face_value" type="xs:int" minOccurs="0"/>
<xs:element name="company_name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="phoneno" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="email_id" type="xs:string" minOccurs="0"/>
<xs:element name="director" type="xs:string" minOccurs="0"/>
<xs:element name="website" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTransaction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranch">
<xs:sequence>
<xs:element name="branch_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchDetails_1">
<xs:sequence>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchDetails_1Response">
<xs:sequence>
<xs:element name="return" type="tns:brokerBranch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brokerBranch">
<xs:sequence>
<xs:element name="branchId" type="xs:long" minOccurs="0"/>
<xs:element name="brokerId" type="tns:brokerMaster" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="emailId" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="officeAddress" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNo" type="xs:string" minOccurs="0"/>
<xs:element name="stat" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBranchDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:brokerBranch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNews">
<xs:sequence>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="details" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBrokerDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBrokerDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:brokerMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBrokerDetails_1">
<xs:sequence>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBrokerDetails_1Response">
<xs:sequence>
<xs:element name="return" type="tns:brokerMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserMasterDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserMasterDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:userMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteStock">
<xs:sequence>
<xs:element name="script_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTraderSPermition">
<xs:sequence>
<xs:element name="trader_id" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTraderSPermitionResponse">
<xs:sequence>
<xs:element name="return" type="tns:stockDetails" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranch">
<xs:sequence>
<xs:element name="branch_id" type="xs:long" minOccurs="0"/>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
<xs:element name="office_address" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="phoneno" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="email_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllStates">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllStatesResponse">
<xs:sequence>
<xs:element name="return" type="tns:stateMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteOrder">
<xs:sequence>
<xs:element name="order_id" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrder">
<xs:sequence>
<xs:element name="trader_id" type="xs:double" minOccurs="0"/>
<xs:element name="volume" type="xs:long" minOccurs="0"/>
<xs:element name="price" type="xs:long" minOccurs="0"/>
<xs:element name="script_id" type="xs:string" minOccurs="0"/>
<xs:element name="order_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="order_type" type="xs:string" minOccurs="0"/>
<xs:element name="pending" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserAvability">
<xs:sequence>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserAvabilityResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTrader">
<xs:sequence>
<xs:element name="trader_id" type="xs:double" minOccurs="0"/>
<xs:element name="trader_name" type="xs:string" minOccurs="0"/>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
<xs:element name="deposite" type="xs:double" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="PANno" type="xs:string" minOccurs="0"/>
<xs:element name="phoneno" type="xs:string" minOccurs="0"/>
<xs:element name="email_id" type="xs:string" minOccurs="0"/>
<xs:element name="limit" type="xs:double" minOccurs="0"/>
<xs:element name="fund" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuotes">
<xs:sequence>
<xs:element name="Stock_Symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuotesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateNews">
<xs:sequence>
<xs:element name="news_id" type="xs:long" minOccurs="0"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
<xs:element name="details" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTrader">
<xs:sequence>
<xs:element name="trader_name" type="xs:string" minOccurs="0"/>
<xs:element name="broker_id" type="xs:long" minOccurs="0"/>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
<xs:element name="deposite" type="xs:double" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="PANno" type="xs:string" minOccurs="0"/>
<xs:element name="phoneno" type="xs:string" minOccurs="0"/>
<xs:element name="email_id" type="xs:string" minOccurs="0"/>
<xs:element name="limit" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTraderSPermition">
<xs:sequence>
<xs:element name="trader_id" type="xs:double" minOccurs="0"/>
<xs:element name="script_id" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserSGroup">
<xs:sequence>
<xs:element name="user_id" type="xs:string" minOccurs="0"/>
<xs:element name="group_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTraderDetails_1">
<xs:sequence>
<xs:element name="trader_id" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTraderDetails_1Response">
<xs:sequence>
<xs:element name="return" type="tns:traderMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTraderDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTraderDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:traderMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteReport">
<xs:sequence>
<xs:element name="report_id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteNews">
<xs:sequence>
<xs:element name="news_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewsDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNewsDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:newsMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newsMaster">
<xs:sequence>
<xs:element name="details" type="xs:string" minOccurs="0"/>
<xs:element name="newsId" type="xs:long" minOccurs="0"/>
<xs:element name="topic" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewsDetails_1">
<xs:sequence>
<xs:element name="newsId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewsDetails_1Response">
<xs:sequence>
<xs:element name="return" type="tns:newsMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderDetails_1">
<xs:sequence>
<xs:element name="order_id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderDetails_1Response">
<xs:sequence>
<xs:element name="return" type="tns:orderMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderDetails">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrderDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>